.hero-section {
    background-image: linear-gradient(89deg,
            #FFF 30.62%,
            rgba(255, 255, 255, 0.85) 41.31%,
            rgba(255, 255, 255, 0.19) 58.65%,
            rgba(255, 255, 255, 0) 72.78%),
        url('../images/hero-section-background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    text-align: left;
    line-height: 1.16;

&__container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 0 0 100px;
}
&__title {
    display: flex;
    flex-direction: column;
    font-size: 54px;
    color: var(--color-brand-light);
    line-height: 46px;
    font-family: 'Play', sans-serif;
    text-transform: capitalize;
    margin: 0 0 32px 0;

@media screen and (min-width: $bp-tablet) {
        font-size: 140px;
        line-height: 114px;
        flex-direction: row;
        margin: 16px 0 40px 0;
    }

}
&__title-small {
    margin: 0;
    font-size: 12px;


@media screen and (min-width: $bp-tablet) {
        font-size: 18px;
    }
}
&__text {
    margin: 14px 0 126px 0;
    font-size: 12px;
}

}

