.procedures-container {
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: center;
}

.procedures-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-block: 0;
    padding-left: 0;
}

.procedures-item {
    flex-basis: calc((100% - 40px) / 3);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 456px;
    width: 344px;
    border-radius: 120px 4px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

.procedures-item.item-1 {
    background-image: linear-gradient(180deg,
            rgba(1, 28, 68, 0.00) 48.53%,
            rgba(1, 28, 68, 0.73) 84.61%,
            #011C44 101.39%),
        url('../images/mask.jpg');
}

.procedures-item.item-2 {
    background-image: linear-gradient(180deg,
            rgba(1, 28, 68, 0.00) 48.53%,
            rgba(1, 28, 68, 0.73) 84.61%,
            #011C44 101.39%),
        url('../images/injection.jpg');
}

.procedures-item.item-3 {
    background-image: linear-gradient(180deg,
            rgba(1, 28, 68, 0.00) 48.53%,
            rgba(1, 28, 68, 0.73) 84.61%,
            #011C44 101.39%),
        url('../images/face.jpg');
}

.procedures-title {
    text-align: center;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 48px;
    line-height: 1.16;
}

.procedures-title .accent {
    color: var(--color-brand-light);
}

.procedures-text {
    display: flex;

    font-size: 22px;
    line-height: 1.18;
    color: var(--color-primary-light);
}