.results-section{
&__container {
    display: flex;
    justify-content: center;
}

&__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.16;
    margin-bottom: 24px;

    @media screen and (min-width: $bp-tablet) {
            font-weight: 500;
            font-size: 64px;
            margin-bottom: 40px;
        }
}

&__text {
    display: block;
    font-size: 18px;
    margin-bottom: 0;

    @media screen and (min-width: $bp-tablet) {
            font-size: 22px;
        }
}
&__first {
    margin-bottom: 18px;

    @media screen and (min-width: $bp-tablet) {
            margin-bottom: 40px;
        }
}

&__image {
   display: none;

    @media screen and (min-width: $bp-tablet) {
        display: block;
            width: 100%;
            max-width: 335px;
            height: 100%;
            max-height: 328px;
            border-radius: 50%;
            margin-left: 28px;
        }
}

&__image-2 {
    margin-left: 100px;
}

&__black-star {
display: none;
@media screen and (min-width: $bp-tablet) {
    display: flex;
    position: relative;
    margin-top: 9px;
    margin-left: 40px;
    animation: spin 1.5s;
    }

}
@keyframes spin {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.8);
    }
}
&__star-image-1 {
    position: absolute;
    margin-left: 185px;
}



}



